{% extends 'base/object.html' %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>{{ object.name }}</h1>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>Type</th>
                        <td>{{ object.type }}</td>
                    </tr>
                    <tr>
                        <th>Parent</th>
                        <td>
                            {% if object.parent %}
                                <a href="{{ object.parent.get_absolute_url }}">{{ object.parent.name }}</a>
                            {% else %}
                                None
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>Associated Object</th>
                        <td>
                            {% if object.associated_object_type and object.associated_object_id %}
                                {% with associated_object=object.get_associated_object %}
                                    {% if associated_object %}
                                        <a href="{{ associated_object.get_absolute_url }}">{{ associated_object }}</a>
                                    {% else %}
                                        Invalid association
                                    {% endif %}
                                {% endwith %}
                            {% else %}
                                None
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>Size</th>
                        <td>{{ object.size|filesizeformat }}</td>
                    </tr>
                    <tr>
                        <th>Details</th>
                        <td>{{ object.details|default:"N/A" }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ object.description|default:"No description provided" }}</td>
                    </tr>
                </tbody>
            </table>

            {% if object.type_specific_attributes %}
                <h3>Type-specific Attributes</h3>
                <table class="table table-striped">
                    <tbody>
                        {% for key, value in object.type_specific_attributes.items %}
                            <tr>
                                <th>{{ key|title }}</th>
                                <td>{{ value }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}